@charset "utf-8";

/**************************************/
// variable

$olive: #887f69;
$ivory: #e2ddd4;
$gray: #b0b0b0;
$red: #9d1a2d;

/**************************************/
// mixin

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

/**************************************/
// 

html{
    font-size: 62.5%;
}

body{
    font-family:Avenir, AvenirNext,'Helvetica neue', Helvetica,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    background-color: #f9f8f6;
}

.upperCase{
    text-transform: uppercase;
}

.textCenter{
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

li{
    list-style: none;
}

dl{
    margin: 0px;
}

.flexBox{
    display: flex;
}


h2{
    align-items: center;
    text-align: center;
    color: $olive;
    @include fontsize(17);
    letter-spacing: 0.1rem;
    margin: 0 0 15px 0;
}

/**************************************/
// resoponsive image

img.pc_image{
    display: none;
    @media screen and(min-width: 550px){
        display: block;
    }
}

img.sp_image{
    @media screen and(min-width: 550px){
        display: none;
    }
}


/**************************************/
// header
header{
    padding-top: 15px;
    margin-bottom:13px;
    
    h1{
        @include fontsize(10);
        margin-bottom: 13px;
        text-align: center;
    }
    
    ul.spMenu{
        
        margin: 0;
        
       @media screen and(min-width: 550px){
           
            display: none;
       }
       
       li{
           display: inline-block;
           padding: 0 5px;
           margin: 0;
           
       }
    }
    
    ul.pcMenu{
        margin-bottom: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        display: none;
        
        @media screen and(min-width: 550px){
            display: block;
        }
        
        li{
            display: inline-block;
            @include fontsize(14);
            letter-spacing: 0.1rem;
            font-weight: 900;
            padding-left: 15px;
            
            
            &:last-child{
                padding-left: 8px;
            }
            
            
            a{
                text-decoration: none;
                color: #524c3e;
                
                img{
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
    
}

.spMenu_toggle{
    width: 100%;
    max-width: 960px;
    background-color: #ff6d77;
    padding: 10px 40px;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 200;
    display: none;
        
        ul{
            margin-bottom: 0;
            padding: 0;
            
            li+ li{
                border-top: 1px solid #fff;
            }
            
            li{
                margin: 0;
                padding: 8px 0;
                a{
                    text-decoration: none;
                    color: #fff;
                    @include fontsize(15);
                    letter-spacing: 0.2rem;
                }
                
                
                
            }
        }
    }

/**************************************/
// #topCover
// #main{
// .container{
//     width: 100%;
// }
// }

/**************************************/
// #topCover

#topCover{
    margin-bottom: 11px;
    .owl-dots{
        @include fontsize(10);
        line-height: 1;
        text-align: left;
        margin: 4px 0 0 0;
        button.active{
            span{
                background-color: $red;
            }
        }
        button.owl-dot{
            margin: 0;
            span{
                padding: 0;
                margin: 0 10px 0 0;
                border-radius: 0;
                height: 2px;
                width: 27px;
            }
        }
    }
}

/**************************************/
// NewItem

.title{
    @media screen and(min-width: 550px){
        margin: 25px 0;
    }
    
}

#newItem, #popularItem, #categoryItems, #recentItem{
    margin-bottom: 15px;
    
    .itemBoxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .itemBox{
            width: 49.5%;
            background-color: white;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 1px;
            
            @media screen and(min-width: 550px){
                width: 33%;
            }
            
            a{
                color: black;
            }
            
            dl{
                
                
                h3{
                    margin: 0 0 6px 0;
                    
                }
                
                dt{
                    @include fontsize(11);
                    line-height: 1.4;
                    margin-bottom: 9px;
                }
                
                dd{
                    margin: 0;
                    padding: 0;
                    @include fontsize(10);
                }
            
            }
        }
        
    }
    
}

#newItem,#popularItem,#categoryItems,#recentItem{
        .itemBoxes{
            .itemBox{
                h3{
                    img{
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
}






/**************************************/
// shoppingGuide

#guideBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;

.guide{
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    color: $olive;
    
    @media screen and(min-width: 550px){
        width: 49%;
    }
    
    p{
        margin-bottom: 9px;
    
    img{
        margin-top: 15px;
        margin-bottom: 0;
    }
    }
    
    h3{
        @include fontsize(16);
        font-weight: 900;
        margin-bottom: 0;
    }
    
    dl{
        @include fontsize(12);
        margin: 0;
        
        dt.cardPay{
            margin-top: -1px;
        }
        
        dt{
            @include fontsize(12);
            font-weight: bold;
            line-height: 1.5;
            span{
                    @include fontsize(21);
                    margin-right: 3px;
                }
        }
        
        dd{
            color: black;
            margin: 0;
            margin-bottom: 2px;
        }
        
        
    }
}
}


/**************************************/

// #sidebar

#sidebar{
    width: 100%;
    
    #itemSearch{
        background-color: #fff;
        margin-bottom: 10px;
        padding: 10px 15px;
        
        h2{
            display: none;
            @media screen and(min-width: 550px){
                display: block;
                text-align: left;
                margin-bottom: 10px;
            }
        }
        
        form#search{
            
            margin: 0;
            
            input{
                width: 100%;
                height: 40px;
                margin-bottom: 5px;
                background-color: #eee;
                border-radius: 0;
                border: none;
                @include fontsize(16);
                font-style: italic;
                
                &::placeholder{
                    color: #c7c7c7;
                    background-image: url('../images/top/search_icon.png');
                    background-repeat: no-repeat;
                    background-position: right center;
                }
                
                &:focus{
                    border: 1px solid $olive;
                }
            }
        }
        
        .searchBox{
            background-color: #eee;
            padding: 5px;
            position: relative;
            
            p{
                
                
                
                display: inline-block;
                margin: 0 0 0 5px;

            }
            
            p img{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    
    
    #pageLink, #categories, #about, #shopInfo{
        
        .sidebarBox{
            margin-bottom: 10px;
            position: relative;
            
            h2{
                background-color: $olive;
                color: #fff;
                text-align: left;
                padding: 12px;
                margin-bottom: 0;
            }
            
            p{
                margin: 0;
                
                img{
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 100;
                }
            }
            
            
        }
    }
    

    #categories .sidebarBox{
        margin-bottom: 0;
    }
    
    .categorieBoxes{
                background-color: #fff;
                position: relative;
                margin-bottom: 1px;
                
                h3{
                    @include fontsize(14);
                    padding: 13px;
                    margin: 0;
                }
                
                p{
                margin: 0;
                
                    img{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        z-index: 100;
                    }
                }
    }
    
    #pageLink, #categories{
        .sidebarBox{
            h2{
                &:hover{
                    @media screen and(min-width: 550px){
                        background-color: lighten($olive, 10%);
                    }
                }
            }
        }
    }
    
    .categorieBoxes{
        h3{
            &:hover{
                @media screen and(min-width: 550px){
                    background-color: darken(#fff, 5%);
                }
            }
        }
    }
}






/**************************************/

// #sidebar icon
    #pageLink{
        h2{
            &::after{
                display: inline-block;
                content:'';
                background-image: url('../images/top/next_icon.png');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 18px;
                right: 10px;
                }
            
        }
    }
    
    #categories{
        h2{
            &::after{
                display: inline-block;
                content:'';
                background-image: url('../images/top/down_icon.png');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 24px;
                right: 13px;
                }
            
        }
    }
    
    .categorieBoxes{
        h3{
            &::after{
                display: inline-block;
                content:'';
                background-image: url('../images/top/next_icon_gray.png');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 14px;
                right: 10px;
                }
            
        }
    }


#about, #shopInfo{
    background-color: #fff;
    
    dl{
        padding: 10px;
        
        div{
            text-align: center;
        }

        dt{
            
            img{
                float: left;
                width: 50%;
                
            @media screen and(min-width: 550px){
                width: 100%;
                float: none;
            }
            
            }
        }
        
        dd{
            margin-left: 55%;
            @include fontsize(11);
            
            @media screen and(min-width: 550px){
                margin: 10px 0;
                width: 100%;
            }
        }
        
        dd.button{
            width: 100px;
            height: 30px;
            background-color: $olive;
            margin: 5px 0 0 0;
            border-radius: 24px;
            border: none;
            text-align: center;
            position: relative;
            line-height: 1;
                
                @media screen and(min-width: 550px){
                    &:hover{
                        background-color: darken($olive, 10%);
                    }
                }
                
                a{
                    color: #fff;
                    @include fontsize(12);
                    position: absolute;
                    top: 9px;
                    left: 31px;
                    
                    
                }
        }
    }
}

/**************************************/

// footer

footer{
    
    .pageTop{
        padding: 10px 0 20px 0;
        text-align: center;
        border-bottom: solid 1px $olive;
        @media screen and(min-width: 550px){
            text-align: right;
        }
    }
    
    .container{
        text-align: center;
    
        ul{
            margin: 20px 0 0 0;
            
            
            li{
                @include fontsize(12);
                margin: 0;
                padding: 0 8px;
                display: inline-block;
                
                a{
                    color: black;
                    text-decoration: none;
                }
            }
        
            li+ li::before{
                position: relative;
                top: -4px;
                left: -10px;
                
                display: inline-block;
                
                width: 3px;
                height: 3px;
                
                content: '';
                
                border-radius: 100%;
                background: black;
            }
        }
        
        p{
            small{
                color: $ivory;
                @include fontsize(14);
            }
        }
    
    }
}

/**************************************/

// breadCrumbs_list

#breadCrumbs_list{
    background-color: $ivory;
    border-radius: 3px;
    
    ul{
       line-height: 1;
       margin-bottom: 15px;
       padding: 15px;
       
       a{
           &:not(:last-child):after{
               color: $gray;
               content: '/';
               padding: 0 5px 0 10px;
           }
               
           li{
               display: inline-block;
               margin: 0;
               color: $olive;
               
               
           }
       }
        
        li.breadCrumbs_home{
            padding-left: 17px;
            background-image: url('../images/list/home_icon.png');
            background-repeat: no-repeat;
            background-position: 0% 13%;
        }
    }
}

/**************************************/

// #listCover

#listCover{
    margin-bottom: 15px;
}

/**************************************/
// #categoryButtom
#categoryButton{
    ul{
        display: flex;
        justify-content:space-between;
        margin: 15px 0;
        li{
            background-color: $olive;
            padding: 10px 40px;
            margin: 0;
            color: #fff;
            &:hover{
                @media screen and(min-width: 550px){
                        background-color: darken($olive, 10%);
                }
            }
            
        }
    }
}

/**************************************/
// product


#product{
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px 60px;
    @media screen and(max-width: 549px){
        margin: 15px -10%;
        padding: 20px 10%;
    }
    
    .productNavi{
        margin-bottom: 15px;
        dl{
            border-bottom: solid 1px #e3e8cf;
            dt{
                h2{
                    color: black;
                    font-weight: bold;
                    text-align: left;
                    letter-spacing: 0.3rem;
                    margin-bottom: 3px;
                }
            }
            
            dd{
                color: $gray;
                margin: 0;
                margin-bottom: 15px;
                text-align: left;
                @media screen and(min-width: 550px){
                    text-align: right;
                }
            }
        }
    }
    
    .productImage{
        margin-bottom: 20px;
        border-bottom: solid 1px #e3e8cf;
        @media screen and(min-width: 550px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        #displayImage{
            margin-bottom: 10px;
            @media screen and(min-width: 550px){
                width: 70%;
            }
        }
        
        ul{
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            @media screen and(min-width: 550px){
                width: 29%;
            }
            
            li{
                width: 19%;
                margin-bottom: 3px;
                @media screen and(min-width: 550px){
                    width: 48%;
                }
                
                img{
                    &:hover{
                        cursor: pointer;
                        opacity: 0.3;
                    }
                }
                
                .grayBox{
                    width: 100%;
                    background-color: #f9f9f9;
                    &:hover{
                        cursor: default;
                        opacity: 1;
                    }
                }
            }
            
        }
    }
    
    .productInfo{
        
        h2{
            text-align: left;
            letter-spacing: 0.3rem;
            margin-bottom: 15px;
            font-weight: 900;
        }
        
        .price{
            border-bottom: solid 1px #e3e8cf;
            border-top: solid 1px #e3e8cf;
            dl{
                
                dt{
                    display: inline-block;
                    text-align: left;
                    color: $olive;
                    font-weight: 900;
                    @include fontsize(17);
                    letter-spacing: 0.1rem;
                    margin: 0 0 15px 0;
                }
                
                dd{
                    display: inline-block;
                }
            }
        }
        
        .quantity{
            border-bottom: solid 1px #e3e8cf;
            h3{
                display: inline-block;
                text-align: left;
                color: $olive;
                font-weight: 900;
                @include fontsize(17);
                letter-spacing: 0.1rem;
                margin: 0 0 15px 0;
            }
            form{
                display: inline-block;
            }
        }
        
        table{
            width: 100%;
            border: solid 2px #e8e4da;
            text-align: center;
            
            th, td{
                padding: 10px;
            }
            
            th{
                background-color: #f9f9f5;
                border: solid 2px #e8e4da;
                color: $olive;
                text-align: center;
            }
            
            td{
                border: solid 2px #e8e4da;
                text-align: center;
                position: relative;
                
                
                label{
                    margin: 0;
                }
                
                .radio {
                    display: none;
                }
                
                .radio + .radio-icon:before,
                .radio:checked + .radio-icon:before{
                    content: "";
                    display: inline-block;
                    border: solid 2px #e8e4da;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                .radio + .radio-icon:after,
                .radio:checked + .radio-icon:after {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background-color: $olive;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                
                .radio + .radio-icon:after{
                    opacity: 0;
                    transform: scale(0);
                }
                
                .radio:checked + .radio-icon:after{
                    opacity: 1;
                    transform: scale(1);
                }
                
                
                
            }
        }
        
        .checkbox {
  display: none;
}
.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}
.checkbox + .checkbox-icon:before {
  content: "\f372";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 22px;
}
.checkbox:checked + .checkbox-icon:before {
  content: "\f374";
  color: #17bcdf;
}
        
        .price{
            dl{
                padding: 15px 0;
                dt{
                    margin: 0;
                }
                dd{
                    margin-left: 60px;
                    span.en,span.money{
                        color: #e80f66;
                        font-style: italic;
                    }
                    span.en{
                        @include fontsize(14);
                        margin-right: -4px;
                    }
                    span.money{
                        @include fontsize(22);
                        padding-right: 5px;
                    }
                }
            }
        }
        
        .quantity{
            padding: 15px 0;
            margin-bottom: 15px;
            h3{
                margin: 0;
            }
            form#quantityBox{
                width: 47%;
                margin-left: 39px;
                margin-bottom: 0;
                input{
                    width: 100%;
                    margin: 0;
                    height: 35px;
                }
            }
        }
        
        .addCart{
            text-align: center;
            margin-bottom: 15px;
            h3{
                a{
                    img{
                        &:hover{
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
        
        .productExplan{
            h3{
                color: $olive;
                @include fontsize(17);
                padding-bottom: 15px;
                border-bottom: solid 1px $olive;
                font-weight: bold;
            }
            
            h4{
                font-weight: bold;
                @include fontsize(17);
                color: $olive;
                margin-bottom: 15px;
                span{
                    @include fontsize(28);
                    margin-right: 3px;
                }
            }
            
            table{
            width: 100%;
            border: solid 2px #e8e4da;
            text-align: center;
                
                tr{
                    padding: 10px 5px;
                    color: $olive;
                }
            
                th{
                    font-weight: 400;
                    background-color: #f9f9f5;
                    border: solid 2px #e8e4da;
                    text-align: center;
                    width: 30%;
                }
                
                td{
                    border: solid 2px #e8e4da;
                    text-align: left;
                    padding: 10px 5px;
                }
            }
        }
    }
}

#recentItem{
    h2{
        margin-bottom: 15px;
    }
}


