@charset "UTF-8";
/**************************************/
/**************************************/
/**************************************/
html {
  font-size: 62.5%; }

body {
  font-family: Avenir, AvenirNext,'Helvetica neue', Helvetica,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: #f9f8f6; }

#productContainer {
  padding: 0px; }

.upperCase {
  text-transform: uppercase; }

.textCenter {
  text-align: center; }

a {
  text-decoration: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

li {
  list-style: none; }

dl {
  margin: 0px; }

.flexBox {
  display: flex; }

h2 {
  align-items: center;
  text-align: center;
  color: #887f69;
  font-size: 17px;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  margin: 0 0 15px 0; }

/**************************************/
img.pc_image {
  display: none; }
  @media screen and (min-width: 550px) {
    img.pc_image {
      display: block; } }

@media screen and (min-width: 550px) {
  img.sp_image {
    display: none; } }

/**************************************/
header {
  padding-top: 15px;
  margin-bottom: 13px; }
  header h1 {
    font-size: 10px;
    font-size: 1rem;
    margin-bottom: 13px;
    text-align: center; }
  header ul.spMenu {
    margin: 0;
    text-align: center; }
    @media screen and (min-width: 550px) {
      header ul.spMenu {
        text-align: right; } }
    @media screen and (min-width: 700px) {
      header ul.spMenu {
        display: none; } }
    header ul.spMenu li {
      display: inline-block;
      padding: 0 5px;
      margin: 0; }
  header ul.pcMenu {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none; }
    @media screen and (min-width: 700px) {
      header ul.pcMenu {
        display: block; } }
    header ul.pcMenu li {
      display: inline-block;
      font-size: 14px;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      font-weight: 900;
      padding-left: 15px; }
      header ul.pcMenu li:last-child {
        padding-left: 8px; }
      header ul.pcMenu li a {
        text-decoration: none;
        color: #524c3e; }
        header ul.pcMenu li a img {
          position: relative;
          top: -5px; }

.spMenu_toggle {
  width: 100%;
  max-width: 960px;
  background-color: #ff6d77;
  padding: 10px 40px;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 200;
  display: none; }
  @media screen and (min-width: 550px) {
    .spMenu_toggle {
      position: absolute;
      top: 42px;
      left: 0;
      z-index: 200; } }
  .spMenu_toggle ul {
    margin-bottom: 0;
    padding: 0; }
    .spMenu_toggle ul li + li {
      border-top: 1px solid #fff; }
    .spMenu_toggle ul li {
      margin: 0;
      padding: 8px 0; }
      .spMenu_toggle ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-size: 1.5rem;
        letter-spacing: 0.2rem; }

/**************************************/
#topCover {
  margin-bottom: 11px; }
  #topCover .owl-dots {
    font-size: 10px;
    font-size: 1rem;
    line-height: 1;
    text-align: left;
    margin: 4px 0 0 0; }
    #topCover .owl-dots button.active span {
      background-color: #9d1a2d; }
    #topCover .owl-dots button.owl-dot {
      margin: 0; }
      #topCover .owl-dots button.owl-dot span {
        padding: 0;
        margin: 0 10px 0 0;
        border-radius: 0;
        height: 2px;
        width: 27px; }

/**************************************/
@media screen and (min-width: 550px) {
  .title {
    margin: 25px 0; } }

#newItem, #popularItem, #categoryItems, #recentItem {
  margin-bottom: 15px; }
  #newItem .itemBoxes, #popularItem .itemBoxes, #categoryItems .itemBoxes, #recentItem .itemBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #newItem .itemBoxes .itemBox, #popularItem .itemBoxes .itemBox, #categoryItems .itemBoxes .itemBox, #recentItem .itemBoxes .itemBox {
      width: 49.5%;
      background-color: white;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 1px; }
      @media screen and (min-width: 550px) {
        #newItem .itemBoxes .itemBox, #popularItem .itemBoxes .itemBox, #categoryItems .itemBoxes .itemBox, #recentItem .itemBoxes .itemBox {
          width: 33%; } }
      #newItem .itemBoxes .itemBox a, #popularItem .itemBoxes .itemBox a, #categoryItems .itemBoxes .itemBox a, #recentItem .itemBoxes .itemBox a {
        color: black; }
      #newItem .itemBoxes .itemBox dl h3, #popularItem .itemBoxes .itemBox dl h3, #categoryItems .itemBoxes .itemBox dl h3, #recentItem .itemBoxes .itemBox dl h3 {
        margin: 0 0 6px 0; }
      #newItem .itemBoxes .itemBox dl dt, #popularItem .itemBoxes .itemBox dl dt, #categoryItems .itemBoxes .itemBox dl dt, #recentItem .itemBoxes .itemBox dl dt {
        font-size: 11px;
        font-size: 1.1rem;
        line-height: 1.4;
        margin-bottom: 9px; }
      #newItem .itemBoxes .itemBox dl dd, #popularItem .itemBoxes .itemBox dl dd, #categoryItems .itemBoxes .itemBox dl dd, #recentItem .itemBoxes .itemBox dl dd {
        margin: 0;
        padding: 0;
        font-size: 10px;
        font-size: 1rem; }

#newItem .itemBoxes .itemBox h3 img:hover, #popularItem .itemBoxes .itemBox h3 img:hover, #categoryItems .itemBoxes .itemBox h3 img:hover, #recentItem .itemBoxes .itemBox h3 img:hover {
  opacity: 0.6; }

/**************************************/
#shoppingGuide.product_shoppingGuide {
  margin: 0 20px; }

#guideBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px; }
  #guideBox .guide {
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    color: #887f69; }
    @media screen and (min-width: 550px) {
      #guideBox .guide {
        width: 49%; } }
    #guideBox .guide p {
      margin-bottom: 9px; }
      #guideBox .guide p img {
        margin-top: 15px;
        margin-bottom: 0; }
    #guideBox .guide h3 {
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: 900;
      margin-bottom: 0; }
    #guideBox .guide dl {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0; }
      #guideBox .guide dl dt.cardPay {
        margin-top: -1px; }
      #guideBox .guide dl dt {
        font-size: 12px;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.5;
        padding-left: 15px;
        position: relative; }
        #guideBox .guide dl dt:before {
          background: #887f69;
          content: "";
          height: 10px;
          width: 10px;
          left: 0;
          position: absolute;
          top: 3px; }
        #guideBox .guide dl dt span {
          font-size: 11px;
          font-size: 1.1rem;
          margin-right: 3px; }
      #guideBox .guide dl dd {
        color: black;
        margin: 0;
        margin-bottom: 2px; }

/**************************************/
@media screen and (max-width: 549px) {
  #sidebar.productSidebar {
    padding: 0 20px; } }

@media screen and (min-width: 550px) {
  #sidebar {
    width: 100%; } }
#sidebar #itemSearch {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 15px; }
  #sidebar #itemSearch h2 {
    display: none; }
    @media screen and (min-width: 550px) {
      #sidebar #itemSearch h2 {
        display: block;
        text-align: left;
        margin-bottom: 10px; } }
  #sidebar #itemSearch form#search {
    margin: 0; }
    #sidebar #itemSearch form#search input {
      width: 100%;
      height: 40px;
      margin-bottom: 5px;
      padding: 6px 10px;
      background-color: #eee;
      border-radius: 0;
      border: none; }
      #sidebar #itemSearch form#search input::placeholder {
        color: #c7c7c7;
        font-size: 12px;
        font-size: 1.2rem;
        font-style: italic;
        line-height: 20px;
        background-image: url("../images/top/search_icon.png");
        background-repeat: no-repeat;
        background-position: right center; }
      #sidebar #itemSearch form#search input:focus {
        border: 1px solid #887f69; }
  #sidebar #itemSearch .searchBox {
    background-color: #eee;
    padding: 5px;
    position: relative; }
    #sidebar #itemSearch .searchBox p {
      display: inline-block;
      margin: 0 0 0 5px; }
    #sidebar #itemSearch .searchBox p img {
      position: absolute;
      top: 10px;
      right: 10px; }
#sidebar #pageLink .sidebarBox, #sidebar #categories .sidebarBox, #sidebar #about .sidebarBox, #sidebar #shopInfo .sidebarBox {
  margin-bottom: 10px;
  position: relative;
  overflow-y: hidden; }
  #sidebar #pageLink .sidebarBox h2, #sidebar #categories .sidebarBox h2, #sidebar #about .sidebarBox h2, #sidebar #shopInfo .sidebarBox h2 {
    background-color: #887f69;
    color: #fff;
    text-align: left;
    padding: 12px;
    margin-bottom: 0; }
  #sidebar #pageLink .sidebarBox p, #sidebar #categories .sidebarBox p, #sidebar #about .sidebarBox p, #sidebar #shopInfo .sidebarBox p {
    margin: 0; }
    #sidebar #pageLink .sidebarBox p img, #sidebar #categories .sidebarBox p img, #sidebar #about .sidebarBox p img, #sidebar #shopInfo .sidebarBox p img {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100; }
#sidebar #categories .sidebarBox {
  margin-bottom: 0; }
#sidebar .categorieBoxes {
  background-color: #fff;
  position: relative;
  margin-bottom: 1px; }
  #sidebar .categorieBoxes h3 {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 13px;
    margin: 0; }
  #sidebar .categorieBoxes p {
    margin: 0; }
    #sidebar .categorieBoxes p img {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100; }
@media screen and (min-width: 550px) {
  #sidebar #pageLink .sidebarBox h2:hover, #sidebar #categories .sidebarBox h2:hover {
    background-color: #a09884; } }
@media screen and (min-width: 550px) {
  #sidebar .categorieBoxes h3:hover {
    background-color: #f2f2f2; } }

/**************************************/
#pageLink h2::after {
  display: inline-block;
  content: '';
  background-image: url("../images/top/next_icon.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 10px; }

#categories h2::after {
  display: inline-block;
  content: '';
  background-image: url("../images/top/down_icon.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 13px; }

.categorieBoxes h3::after {
  display: inline-block;
  content: '';
  background-image: url("../images/top/next_icon_gray.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 10px; }

#about, #shopInfo {
  background-color: #fff; }
  #about dl, #shopInfo dl {
    padding: 10px; }
    #about dl div, #shopInfo dl div {
      text-align: center; }
    #about dl dt img, #shopInfo dl dt img {
      float: left;
      width: 50%; }
      @media screen and (min-width: 550px) {
        #about dl dt img, #shopInfo dl dt img {
          width: 100%;
          float: none; } }
    #about dl dd, #shopInfo dl dd {
      margin-left: 55%;
      font-size: 11px;
      font-size: 1.1rem; }
      @media screen and (min-width: 550px) {
        #about dl dd, #shopInfo dl dd {
          margin: 10px 0;
          width: 100%; } }
    #about dl dd.button, #shopInfo dl dd.button {
      width: 100px;
      height: 30px;
      background-color: #887f69;
      margin: 5px 0 0 0;
      border-radius: 24px;
      border: none;
      text-align: center;
      position: relative;
      line-height: 1; }
      @media screen and (min-width: 550px) {
        #about dl dd.button:hover, #shopInfo dl dd.button:hover {
          background-color: #6b6453; } }
      #about dl dd.button a, #shopInfo dl dd.button a {
        color: #fff;
        font-size: 12px;
        font-size: 1.2rem;
        position: absolute;
        top: 9px;
        left: 31px; }

/**************************************/
footer .pageTop {
  padding: 10px 0 20px 0;
  text-align: center;
  border-bottom: solid 1px #887f69; }
  @media screen and (min-width: 550px) {
    footer .pageTop {
      text-align: right; } }
footer .container {
  text-align: center; }
  footer .container ul {
    margin: 20px 0 0 0; }
    footer .container ul li {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0;
      padding: 0 8px;
      display: inline-block; }
      footer .container ul li a {
        color: black;
        text-decoration: none; }
    footer .container ul li + li::before {
      position: relative;
      top: -4px;
      left: -10px;
      display: inline-block;
      width: 3px;
      height: 3px;
      content: '';
      border-radius: 100%;
      background: black; }
  footer .container p small {
    color: #e2ddd4;
    font-size: 14px;
    font-size: 1.4rem; }

/**************************************/
@media screen and (max-width: 549px) {
  #breadCrumbs_list.proBread_list {
    margin: 0 20px; } }

#breadCrumbs_list {
  background-color: #e2ddd4;
  border-radius: 3px; }
  #breadCrumbs_list ul {
    line-height: 1;
    margin-bottom: 15px;
    padding: 15px; }
    #breadCrumbs_list ul a:not(:last-child):after {
      color: #b0b0b0;
      content: '/';
      padding: 0 5px 0 10px; }
    #breadCrumbs_list ul a li {
      display: inline-block;
      margin: 0;
      color: #887f69; }
    #breadCrumbs_list ul li.breadCrumbs_home {
      padding-left: 17px;
      background-image: url("../images/list/home_icon.png");
      background-repeat: no-repeat;
      background-position: 0% 13%; }

/**************************************/
#listCover {
  margin-bottom: 15px; }

/**************************************/
#categoryButton ul {
  display: flex;
  justify-content: space-between;
  margin: 15px 0; }
  #categoryButton ul li {
    background-color: #887f69;
    padding: 10px 40px;
    margin: 0;
    color: #fff; }
    @media screen and (min-width: 550px) {
      #categoryButton ul li:hover {
        background-color: #6b6453; } }

/**************************************/
#product {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px 60px; }
  @media screen and (max-width: 549px) {
    #product {
      padding: 20px 20px; } }
  #product .productNavi {
    margin-bottom: 15px; }
    #product .productNavi dl {
      border-bottom: solid 1px #e3e8cf; }
      @media screen and (min-width: 550px) {
        #product .productNavi dl dt {
          float: left; } }
      #product .productNavi dl dt h2 {
        color: black;
        font-weight: bold;
        text-align: left;
        letter-spacing: 0.3rem;
        margin-bottom: 3px; }
      #product .productNavi dl dd {
        color: #b0b0b0;
        margin: 0;
        margin-bottom: 15px;
        text-align: left; }
        @media screen and (min-width: 550px) {
          #product .productNavi dl dd {
            text-align: right; } }
  #product .productImage {
    margin-bottom: 20px;
    border-bottom: solid 1px #e3e8cf; }
    @media screen and (min-width: 550px) {
      #product .productImage {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; } }
    #product .productImage #displayImage {
      margin-bottom: 10px; }
      @media screen and (min-width: 550px) {
        #product .productImage #displayImage {
          width: 70%; } }
    #product .productImage ul {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (min-width: 550px) {
        #product .productImage ul {
          width: 29%; } }
      #product .productImage ul li {
        width: 19%;
        margin-bottom: 3px; }
        @media screen and (min-width: 550px) {
          #product .productImage ul li {
            width: 48%; } }
        #product .productImage ul li img:hover {
          cursor: pointer;
          opacity: 0.3; }
        #product .productImage ul li .grayBox {
          width: 100%;
          background-color: #f9f9f9; }
          #product .productImage ul li .grayBox:hover {
            cursor: default;
            opacity: 1; }
  #product .productInfo h2 {
    text-align: left;
    letter-spacing: 0.3rem;
    margin-bottom: 15px;
    font-weight: 900; }
  #product .productInfo .price {
    border-bottom: solid 1px #e3e8cf;
    border-top: solid 1px #e3e8cf; }
    #product .productInfo .price dl dt {
      display: inline-block;
      text-align: left;
      color: #887f69;
      font-weight: 900;
      font-size: 17px;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      margin: 0 0 15px 0; }
    #product .productInfo .price dl dd {
      display: inline-block; }
  #product .productInfo .quantity {
    border-bottom: solid 1px #e3e8cf; }
    #product .productInfo .quantity h3 {
      display: inline-block;
      text-align: left;
      color: #887f69;
      font-weight: 900;
      font-size: 17px;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      margin: 0 0 15px 0; }
    #product .productInfo .quantity form {
      display: inline-block; }
  #product .productInfo table {
    width: 100%;
    border: solid 2px #e8e4da;
    text-align: center; }
    #product .productInfo table th, #product .productInfo table td {
      padding: 10px; }
    #product .productInfo table th {
      background-color: #f9f9f5;
      border: solid 2px #e8e4da;
      color: #887f69;
      text-align: center; }
    #product .productInfo table td {
      border: solid 2px #e8e4da;
      text-align: center;
      position: relative; }
      #product .productInfo table td label {
        margin: 0; }
      #product .productInfo table td .radio {
        display: none; }
      #product .productInfo table td .radio + .radio-icon:before,
      #product .productInfo table td .radio:checked + .radio-icon:before {
        content: "";
        display: inline-block;
        border: solid 2px #e8e4da;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      #product .productInfo table td .radio + .radio-icon:after,
      #product .productInfo table td .radio:checked + .radio-icon:after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #887f69;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      #product .productInfo table td .radio + .radio-icon:after {
        opacity: 0;
        transform: scale(0); }
      #product .productInfo table td .radio:checked + .radio-icon:after {
        opacity: 1;
        transform: scale(1); }
  #product .productInfo .price dl {
    padding: 15px 0; }
    #product .productInfo .price dl dt {
      margin: 0; }
    #product .productInfo .price dl dd {
      margin-left: 60px; }
      #product .productInfo .price dl dd span.en, #product .productInfo .price dl dd span.money {
        color: #e80f66;
        font-style: italic; }
      #product .productInfo .price dl dd span.en {
        font-size: 14px;
        font-size: 1.4rem;
        margin-right: -4px; }
      #product .productInfo .price dl dd span.money {
        font-size: 22px;
        font-size: 2.2rem;
        padding-right: 5px; }
  #product .productInfo .quantity {
    padding: 15px 0;
    margin-bottom: 15px; }
    #product .productInfo .quantity h3 {
      margin: 0; }
    #product .productInfo .quantity form#quantityBox {
      width: 47%;
      margin-left: 39px;
      margin-bottom: 0; }
      #product .productInfo .quantity form#quantityBox input {
        width: 100%;
        margin: 0;
        height: 35px; }
  #product .productInfo .addCart {
    text-align: center;
    margin-bottom: 15px; }
    #product .productInfo .addCart h3 a img:hover {
      opacity: 0.6; }
  #product .productInfo .productExplan h3 {
    color: #887f69;
    font-size: 17px;
    font-size: 1.7rem;
    padding-bottom: 15px;
    border-bottom: solid 1px #887f69;
    font-weight: bold; }
  #product .productInfo .productExplan h4 {
    font-weight: bold;
    font-size: 17px;
    font-size: 1.7rem;
    color: #887f69;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative; }
    #product .productInfo .productExplan h4:before {
      background: #887f69;
      content: "";
      height: 15px;
      width: 15px;
      left: 0;
      position: absolute;
      top: 3px; }
  #product .productInfo .productExplan table {
    width: 100%;
    border: solid 2px #e8e4da;
    text-align: center; }
    #product .productInfo .productExplan table tr {
      padding: 10px 5px;
      color: #887f69; }
    #product .productInfo .productExplan table th {
      font-weight: 400;
      background-color: #f9f9f5;
      border: solid 2px #e8e4da;
      text-align: center;
      width: 30%; }
    #product .productInfo .productExplan table td {
      border: solid 2px #e8e4da;
      text-align: left;
      padding: 10px 5px; }

#recentItem {
  padding: 0px 20px; }
  #recentItem h2 {
    margin-bottom: 15px; }

/*# sourceMappingURL=shopping.css.map */
